{{ define "layout" -}}
<!DOCTYPE html>
<html lang="en" class="antialiased">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ template "title" . }}</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/fontawesome.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon">
  </head>
  <body class="bg-gray-100 font-mono leading-normal tracking-normal">
    <div class="container w-full md:max-w-3xl mx-auto pt-10">
    {{ template "content" . }}
    </div>
  </body>
</html>
{{- end }}

{{ define "repo-brand" }}
  <h1>
    <a href="{{ GetSummaryURL . }}">{{ .Config.Name }}</a>
    {{ with .Ref }}
    <span class="inline-block rounded bg-indigo-800 text-indigo-100 uppercase px-2 text-xs font-semibold font-sans tracking-wide" title="{{ .Kind }}">{{ .Name }}</span>
    {{ end }}
  </h1>
{{ end }}
