{{ define "title" }}Git summary{{ end }}

{{ define "content" }}
  <div class="my-3">
    {{ template "repo-brand" .RequestContext }}
    <div class="flex">
      <a class="flex-auto text-center" href="{{ GetTreeURL .RequestContext }}"><i class="far fa-file-alt"></i> {{ .NumFiles }} Files</a>
      <a class="flex-auto text-center" href="{{ GetLogURL .RequestContext }}"><i class="far fa-check-square"></i> {{ .NumCommits }} Commits</a>
      <a class="flex-auto text-center" href="#"><i class="far fa-sticky-note"></i> {{ .NumBranches }} Branches</a>
      <a class="flex-auto text-center" href="#"><i class="far fa-bookmark"></i> {{ .NumTags }} Tags</a>
      <a class="flex-auto text-center" href="#"><i class="far fa-user-circle"></i> {{ .NumContributors }} Contributors</a>
    </div>
  </div>
{{ end }}
